<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Advanced Search</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link th:href="@{/styles/advancedSearch.css}" rel="stylesheet" />
    <link th:href="@{/styles/addConcert.css}" rel="stylesheet" />
</head>



<body>

<div class="page">
    <div th:replace="fragments/mainTitle :: mainTitle"></div>

    <form class="searchPage" id="searchPage" method="post" th:action="@{/addConcert}" th:object="${concertForm}">
        <div class="searchTitle">Add a concert</div>
        <div class="searchInputs">
            <input class="searchBar" type="text" name="name" placeholder="Concert Name" th:field="*{name}">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>


            <input class="searchBar date" type="text" name="artist" placeholder="Date" th:field="*{date}" onfocus="(this.type='date')">
            <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>

            <input class="searchBar" type="text" name="artistName" placeholder="Artist Name" th:field="*{artistName}">
            <span th:if="${#fields.hasErrors('artistName')}" th:errors="*{artistName}"></span>

            <input class="searchBar" type="text" name="organizerWebsite" placeholder="Organizer Website" th:field="*{organizerWebsite}">
            <span th:if="${#fields.hasErrors('organizerWebsite')}" th:errors="*{organizerWebsite}"></span>

            <input class="searchBar" type="time" name="startTime" placeholder="Start Time" th:field="*{startTime}">
            <span th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}"></span>

            <input class="searchBar" type="time" name="endTime" placeholder="End Time" th:field="*{endTime}">
            <span th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}"></span>

            <label class="searchBar switch">
                <input class="switch-input" type="checkbox" />
                <span class="switch-label" data-on="Live concert" data-off="Streamed concert" onclick="switchInputs()"></span>
                <span class="switch-handle"></span>
            </label>



            <select id="liveConcert" class="searchBar" th:field="*{venueId}">
                <option th:each="venue: ${venues}" th:value="${venue.getId()}" th:text="${venue.getName()}"></option>
            </select>

            <input id="streamedConcert" class="searchBar" type="text" name="website" placeholder="Website" th:field="*{website}">
            <span th:if="${#fields.hasErrors('website')}" th:errors="*{website}"></span>





            <div class="buttons">
                <input class="searchButton wide" type="submit" value="Add concert">
            </div>

        </div>
    </form>


    <div class="queryResult" th:if="${results.size() > 0}">
        <div class="searchTitle">Succesfully added a concert</div>

        <div class="queriedConcert" th:each="result : ${results}">
            <div th:text="${result.getDate()}"/>
            <div class="concertTitle" th:text="${result.getName()}"/>
            Organisator website: <a target="_blank" th:href="@{${result.getOrganizerWebsite()}}" th:text="${result.getOrganizerWebsite()}"/>

            <div class="sectionRight streamed" th:if="${result.getType() == T(concertbase.util.ConcertType).STREAMED}">
                Stream link: <a target="_blank" th:href="@{${result.getWebsite()}}" th:text="${result.getWebsite()}"/>
            </div>
            <div class="sectionRight live" th:if="${result.getType() == T(concertbase.util.ConcertType).LIVE}">
                Place:
                <div th:text="${result.getVenue().name}"/>
                <div th:text="${result.getVenue().zipCode + '  ' + result.getVenue().city + '  ' + result.getVenue().street + ' ' + result.getVenue().streetNumber}"/>
            </div>
        </div>
    </div>



    <div class="queryResult" th:if="${errors.size() > 0}">
        <div class="searchTitle">Error</div>

        <div class="queriedConcert" th:each="error : ${errors}">
            <div class="concertTitle" th:text="${error}"/>
        </div>
    </div>




</div>
<script>
    var flag=0;
    switchInputs();

    function switchInputs(){
        let liveConcert = document.getElementById("liveConcert");
        let streamedConcert = document.getElementById("streamedConcert");

        if(flag==0){
            liveConcert.style.display = "none";
            streamedConcert.style.display = "initial";
        }
        else{
            liveConcert.style.display = "initial";
            streamedConcert.style.display = "none";
            streamedConcert.value = "";
        }
        flag = (flag + 1)%2;
    }
</script>
</body>
</html>