<!--

<body>

<div class="page">
    <div th:replace="fragments/mainTitle :: mainTitle"></div>

    <div class="videoPlayers">
        <div class="bigVideoPlayer">
            <iframe width="789" height="444" src="https://www.youtube.com/embed/iphcyNWFD10" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="shortTitle">Filmik</div>
        </div>
        <div class="normalVideoPlayer">
            <iframe width="789" height="444" src="https://www.youtube.com/embed/iphcyNWFD10" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="shortTitle">Filmik</div>
        </div>
        <div class="normalVideoPlayer">
            <iframe width="789" height="444" src="https://www.youtube.com/embed/iphcyNWFD10" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="shortTitle">Filmik</div>
        </div>
        <div class="normalVideoPlayer">
            <iframe width="789" height="444" src="https://www.youtube.com/embed/iphcyNWFD10" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="shortTitle">Filmik</div>
        </div>
        <div class="normalVideoPlayer">
            <iframe width="789" height="444" src="https://www.youtube.com/embed/iphcyNWFD10" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="shortTitle">Filmik</div>
        </div>
    </div>

    <img class="scrollButton" th:src="@{/icons/back.png}" style="left: 0" onclick="scrollVideo(10)">
    <img class="scrollButton" th:src="@{/icons/next.png}" style="right: 0" onclick="scrollVideo(-10)">



    <form action="#" class="searchPage" id="searchPage" th:action="@{/}" th:object="${searchForm}" method="post">
        <div class="searchTitle">Search for concert</div>
        <div class="searchInputs">
            <input class="searchBar" type="text" name="searchBar" placeholder="Concert name" th:field="*{searchString}">
            <span th:if="${#fields.hasErrors('searchString')}" th:errors="*{searchString}"></span>

            <div class="buttons">
                <input class="searchButton" type="submit" value="Search">
                <a href="/advancedSearch" style="display: contents;">
                    <input class="searchButton advanced" type="submit" value=" > Advanced Search > ">
                </a>

            </div>

        </div>

    </form>

    <div class="queryResult" th:if="${results.size() > 0}">
        <div class="searchTitle">Search results</div>

        <div class="queriedConcert" th:each="result : ${results}">
            <div th:text="${result.getDate()}"/>
            <div class="concertTitle" th:text="${result.getName()}"/>
            Organisator website: <a th:href="@{${result.getOrganizerWebsite()}}" th:text="${result.getOrganizerWebsite()}"/>

            <div class="sectionRight streamed" th:if="${result.getType() == T(concertbase.util.ConcertType).STREAMED}">
                Stream link: <a th:href="@{${result.getWebsite()}}" th:text="${result.getWebsite()}"/>
            </div>
            <div class="sectionRight live" th:if="${result.getType() == T(concertbase.util.ConcertType).LIVE}">
                Place:
                <div th:text="${result.getVenue().name}"/>
                <div th:text="${result.getVenue().zipCode + '  ' + result.getVenue().city + '  ' + result.getVenue().street + ' ' + result.getVenue().streetNumber}"/>
            </div>
        </div>
    </div>


</div>





-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Advanced Search</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link th:href="@{/styles/advancedSearch.css}" rel="stylesheet" />
</head>



<body>

<div class="page">
    <div th:replace="fragments/mainTitle :: mainTitle"></div>

    <form class="searchPage" id="searchPage" method="post" th:action="@{/advancedSearch}" th:object="${searchForm}">
        <div class="searchTitle">Search for concert</div>
        <div class="searchInputs">
            <input class="searchBar" type="text" name="artist" placeholder="Artist Name" th:field="*{artistName}">
            <span th:if="${#fields.hasErrors('artistName')}" th:errors="*{artistName}"></span>

            <input class="searchBar" type="text" name="artist" placeholder="Subgenre Name" th:field="*{subgenreName}">
            <span th:if="${#fields.hasErrors('subgenreName')}" th:errors="*{subgenreName}"></span>

            <input class="searchBar city" type="text" name="artist" placeholder="City" th:field="*{city}">
            <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
            <div style="background: transparent"></div>

            <input class="searchBar date" type="text" name="artist" placeholder="Date From" th:field="*{dateFrom}" onfocus="(this.type='date')">
            <span th:if="${#fields.hasErrors('dateFrom')}" th:errors="*{dateFrom}"></span>

            <input class="searchBar date" type="text" name="artist" placeholder="Date To" th:field="*{dateTo}" onfocus="(this.type='date')">
            <span th:if="${#fields.hasErrors('dateTo')}" th:errors="*{dateTo}"></span>

            <div class="buttons">
                <input class="searchButton wide" type="submit" value="Search">
            </div>

        </div>
    </form>

    <div class="queryResult" th:if="${results.size() > 0}">
        <div class="searchTitle">Search results</div>

        <div class="queriedConcert" th:each="result : ${results}">
            <div th:text="${result.getDate()}"/>
            <div class="concertTitle" th:text="${result.getName()}"/>
            Organisator website: <a target="_blank" th:href="@{${result.getOrganizerWebsite()}}" th:text="${result.getOrganizerWebsite()}"/>

            <div class="sectionRight streamed" th:if="${result.getType() == T(concertbase.util.ConcertType).STREAMED}">
                Stream link: <a target="_blank" th:href="@{${result.getWebsite()}}" th:text="${result.getWebsite()}"/>
            </div>
            <div class="sectionRight live" th:if="${result.getType() == T(concertbase.util.ConcertType).LIVE}">
                Place:
                <div th:text="${result.getVenue().name}"/>
                <div th:text="${result.getVenue().zipCode + '  ' + result.getVenue().city + '  ' + result.getVenue().street + ' ' + result.getVenue().streetNumber}"/>
            </div>
        </div>
    </div>




</div>
</body>
</html>