<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ConcertBase</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>

<div class="page">
    <div class="mainTitle">
        <div class="actualTitle">
            Concertbase
        </div>
    </div>
    <div class="bigVideoPlayer">
        <iframe width="789" height="444" src="https://www.youtube.com/embed/iphcyNWFD10" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="shortTitle">Filmik</div>
    </div>
</div>


<div class="page">
    tetetetetetdsfdsfdsfg
</div>

<div class="page">
    sfasdfasdf
</div>



</body>
</html>