<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Concerts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<!--    <h1 th:text="'Searching concerts of band ' + ${band}"></h1>-->
<!--    <h2 th:text="'Another value: ' + ${another}"></h2>-->
    <div th:replace="~{header :: navbar}"></div>

<!--    <main role="main" class="container">-->
<!--        <div th:each="genre: ${genres}">-->
<!--            <div th:text="${genre}"/>-->
<!--        </div>-->

<!--        <form action="#" th:action="@{/concerts}" th:object="${genre}" method="post">-->
<!--            <input type="text" th:field="*{name}">-->
<!--            <input type="submit" value="Add genre"/>-->
<!--        </form>-->
<!--    </main>-->

    <form method="post" action="/concerts">
        <label>
            Artist
            <input type="text" name="artist"/>
        </label>
        <label>
            City
            <input type="text" name="city"/>
        </label>
        <button>Add</button>
    </form>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>