<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ConcertBase</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>

<div class="page">
    <div th:replace="fragments/mainTitle :: mainTitle"></div>

    <div class="videoPlayers">
        <div class="bigVideoPlayer">
            <iframe width="1519" height="586" th:src="${streamedConcerts[0].getWebsite()}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="shortTitle" th:text="${streamedConcerts[0].getName()}"/>
        </div>
        <div class="normalVideoPlayer" th:each="streamedConcert, iter: ${streamedConcerts}" th:if="${iter.index != 0}">
            <iframe width="1519" height="586" th:src="${streamedConcert.getWebsite()}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="shortTitle" th:text="${streamedConcert.getName()}"/>
        </div>
<!--        <div class="bigVideoPlayer">-->
<!--            <iframe width="1519" height="586" src="https://www.youtube.com/embed/OkIpzKzLm-8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<!--            <div class="shortTitle">Suffocation & Carnifex</div>-->
<!--        </div>-->
<!--        <div class="normalVideoPlayer">-->
<!--            <iframe width="1519" height="586" src="https://www.youtube.com/embed/5j06g0TE_Ao" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<!--            <div class="shortTitle">Dropkick Murphys</div>-->
<!--        </div>-->
<!--        <div class="normalVideoPlayer">-->
<!--            <iframe width="1519" height="586" src="https://www.youtube.com/embed/lDsrJlZies8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<!--            <div class="shortTitle">Percival</div>-->
<!--        </div>-->
<!--        <div class="normalVideoPlayer">-->
<!--            <iframe width="1519" height="586" src="https://www.youtube.com/embed/PfANRKPnC8M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<!--            <div class="shortTitle">Oranssi Pazuzu</div>-->
<!--        </div>-->
<!--        <div class="normalVideoPlayer">-->
<!--            <iframe width="1519" height="586" src="https://www.youtube.com/embed/4VYZeF7gCDg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<!--            <div class="shortTitle">Billie Eilish</div>-->
<!--        </div>-->
    </div>

    <img class="scrollButton" th:src="@{/icons/back.png}" style="left: 0" onclick="scrollVideo(10)">
    <img class="scrollButton" th:src="@{/icons/next.png}" style="right: 0" onclick="scrollVideo(-10)">



    <form action="#" class="searchPage" id="searchPage" th:action="@{/}" th:object="${searchForm}" method="post">
        <div class="searchTitle">Search for concert</div>
        <div class="searchInputs">
            <input class="searchBar" type="text" name="searchBar" placeholder="Concert name" th:field="*{searchString}">
            <span th:if="${#fields.hasErrors('searchString')}" th:errors="*{searchString}"></span>

            <div class="buttons">
                <input class="searchButton" type="submit" value="Search">
                <a href="/advancedSearch" style="display: flex; text-decoration: none; justify-content: center">
                    <div class="searchButton advanced" type="submit" value=" > Advanced Search > " href="/advancedSearch"> > Advanced Search > </div>
                </a>
            </div>
        </div>
    </form>



    <div class="queryResult" th:if="${results.size() > 0}">
        <div class="searchTitle">Search results</div>

        <div class="queriedConcert" th:each="result : ${results}">
            <div th:text="${result.getDate()}"/>
            <div class="concertTitle" th:text="${result.getName()}"/>
            Organisator website: <a target="_blank" th:href="@{${result.getOrganizerWebsite()}}" th:text="${result.getOrganizerWebsite()}"/>

            <div class="sectionRight streamed" th:if="${result.getType() == T(concertbase.util.ConcertType).STREAMED}">
                Stream link: <a target="_blank" th:href="@{${result.getWebsite()}}" th:text="${result.getWebsite()}"/>
            </div>
            <div class="sectionRight live" th:if="${result.getType() == T(concertbase.util.ConcertType).LIVE}">
                Place:
                <div th:text="${result.getVenue().name}"/>
                <div th:text="${result.getVenue().zipCode + '  ' + result.getVenue().city + '  ' + result.getVenue().street + ' ' + result.getVenue().streetNumber}"/>
            </div>
        </div>
    </div>

    <div class="queryResult" th:if="${errors.size() > 0}">
        <div class="searchTitle">Error</div>

        <div class="queriedConcert" th:each="error : ${errors}">
            <div class="concertTitle" th:text="${error}"/>
        </div>
    </div>

    <div action="#" class="searchPage addConcert">
        <div class="searchTitle">Add a concert</div>
        <div class="searchInputs">
            <div class="buttons">
                <a href="/addConcert" style="display: flex; text-decoration: none; justify-content: center">
                    <div class="searchButton advanced" type="submit" value=" > Add a concert > " href="/addConcert"> > Add a concert > </div>
                </a>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript">
    window.onload = function() {
        element = document.getElementsByClassName("videoPlayers")[0];
        setTimeout(changePosition(element), 5000);
    }
</script>
</body>
</html>