:root{
    --color1: #202C39;
    --color2: #283845;
    --color3: #F2D492;
    --color4: #E0FBFC;
    --color5: #C2DFE3;

    --white: #FEEEFE;
    --black: #232323;
}



*{
    margin: 0;
    padding: 0;
    background: var(--black);
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
}

.page{
    width: 100%;
    min-height: 100vh;
    background: var(--color2);
}

.page:nth-child(2n){
    background: var(--color1);
}

.page:first-of-type{
    overflow-x: hidden;
}

.mainTitle{
    position: relative;
    background: var(--color3);

    top: 0;
    left: 0;
    right: 0;
    min-height: 25vh;

    transform-origin: left bottom;
    transform: skewY(-7deg);

    z-index: 500;
}

.mainTitle > .actualTitle{
    padding-left: 10vw;
    padding-right: 10vw;
    transform: skewY(7deg);
    bottom: -12vh;
    position: relative;
    display: inline list-item;
    font-size: 49px;
}

.videoPlayers{
    height: 40vh;
    position: relative;
    left: 70vw;
    top: 0vh;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

    transition: 1s;
    transition-timing-function: ease-out;
    background: transparent;
}

.bigVideoPlayer{
    height: 40vh;
    /*margin-left: 20vw;
    top: 25vh;
    background: yellow;*/
}

.bigVideoPlayer > iframe{
    height: 36vh;
    width: 64vh;
    display: block;
}

.bigVideoPlayer > .shortTitle{
    font-size: 2vh;
    padding: 0.5vh;
    max-width: 62vh;
}


.normalVideoPlayer{
    margin-left: 2.5vh;
    position: relative;
}

.normalVideoPlayer > iframe{
    height: 18vh;
    width: 32vh;
    display: block;
}

.normalVideoPlayer > .shortTitle{
    font-size: 2vh;
    padding: 0.5vh;
    max-width: 31vh;
}


.bigVideoPlayer:before{
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 64vh;
    height: 10px;
    background: var(--color3);
    transform-origin: bottom;
    transform: skewX(-45deg);
}

.bigVideoPlayer:after{
    content: '';
    position: absolute;

    left: 64vh;
    width: 10px;
    bottom: 0;
    height: 40vh;
    background: var(--color3);
    transform-origin: left bottom;
    transform: skewY(-45deg);
}




.normalVideoPlayer:before{
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 32vh;
    height: 10px;
    background: var(--color3);
    transform-origin: bottom;
    transform: skewX(-45deg);
}

.normalVideoPlayer:after{
    content: '';
    position: absolute;

    left: 32vh;
    width: 10px;
    bottom: 0;
    height: 21.6vh;
    background: var(--color3);
    transform-origin: left bottom;
    transform: skewY(-45deg);
}


.scrollButton{
    min-width: 50px;
    min-height: 50px;
    position: absolute;
    background: rgba(255,255,255,0.2);
    width: 10vh;
    height: 10vh;
    padding: 2.5vh;
    border-radius: 5vh;
    bottom: 7.5vh;
    box-shadow: 0px 0px 10px rgba(255,255,255,0.3);

    top: 45vh;
    margin: 0 5vh;
    cursor: pointer;


}








.searchPage, .queryResult{
    width: 80vw;
    min-height: 25vh;
    margin: 11vh auto 8vh;
    padding-top: 3vh;



    background: var(--color3);
    transform: skewY(-7.2deg);

}

.searchTitle{
    padding-left: 10vw;
    padding-right: 10vw;
    position: relative;
    display: inline list-item;
    font-size: 40px;
}

.searchInputs{
    width: 80%;
    height: 5vh;
    margin: 1.5vh auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5vh 5vh 5vh;
    grid-row-gap: 1.5vh;
}

.searchInputs > .searchBar, .searchButton{
    height: 100%;
    /*border: 2px solid var(--color4);*/
    border-radius: 2px;
    padding: 0.5vh 4vh;
    cursor: pointer;
}



.buttons{
    margin-top: 10px;
    display: grid;
    grid-template-columns: calc((100% - 10px)*2/3 ) calc((100% - 10px)*1/3);

    grid-column-gap: 10px;
    justify-content: center;
    background: transparent;
}




.queryResult{
    margin-top: 3vh;
}

.queryResult > .queriedConcert{
    margin: 1.5vh auto;
    width: calc( 80% - 8vh );
    border-radius: 2px;
    padding: 0.5vh 4vh;
}

.queryResult > .queriedConcert > .concertTitle{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.sectionRight.live{
    display: grid;
    grid-template-columns: 4vw auto 5vw auto auto;
}